:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
  margin: 1rem auto;

}

.login_container {
  padding: 2rem;

}

.form_container {
  width: 100%;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

mat-form-field {
  width: 100%;
}
