:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}

.home_container {
  background-image: url("./../../../../assets/images/hero image.png");
  height: 80vh;
}
