.sidenav-container {
  height: 100%;
}

.logo > img {
  max-height: 40px;
}

.mat-drawer-side {
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.sidenav {
  width: 200px;
  font-family: sofia-pro;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}

i {
  font-style: normal;
  font-size: 1.25em;
  margin-right: 16px;
}

.avatar {
  width: 1.75em;
  border-radius: 50%;
  margin: 0 10px 5px;
}

a {
  text-decoration: none;
}

.active {
  font-weight: 700;
  color: #302f6b !important;
}

.menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.white_color {
  color: white !important;
}

.transparent_color {
  background-color: transparent;
}
