<div>
  <!--  section 1 -->
  <div class="home_container">
    <section
      class="max-w-7xl columns-2 m-auto flex pt-12 items-center justify-between"
    >
      <div class="text-white w-2/6">
        <h1>Vendre sur Grooesto.com</h1>
        <p class="mt-4 font-semibold">
          Atteindre des milliers de points de vente partout en Algerie.
        </p>
        <p class="font-semibold">
          Couverture personalisee des wilaya selon vos objectifs.
        </p>
        <button
          class="flex justify-center items-center gap-4 grad-orange py-2 px-4 rounded-lg mt-4"
        >
          Commencer à vendre
          <img src="./../../assets/icons/arrow back.svg" />
        </button>
      </div>
      <div class="">
        <img src="./../../assets/images/image algerie map.png" />
      </div>
    </section>
  </div>

  <!--  section 2 -->
  <section class="max-w-6xl m-auto">
    <h1 class="text-3xl font-medium text-primary my-14 text-center">
      Qui Sommes Nous?
    </h1>
    <div class="about_container">
      <section class="columns-2 items-center flex">
        <div class="w-1/2">
          <img
            src="./../../assets/images/phone mockup.png"
            class="w-96 m-auto"
          />
        </div>
        <div class="w-1/2 text-primary">
          <p class="pb-4">
            <span class="font-bold">Grodesto</span> est une plateforme
            logistique composée d'une application mobile et d'un site web de
            vente et disctribution de gros avec un puissant réseau de
            distribution
          </p>
          <p class="pb-4">
            <span class="font-bold">Notre plateforme logistique</span>
            a pour but de donner un nouveau souffle à la distribution des
            produits de
            <span class="font-bold">gros en Algérie.</span>
          </p>
          <p>
            Notre vision consiste à couvrir
            <span class="font-bold">le marché national,</span> et entrer dans
            les nouveaux marchés internationaux ayant des caractéristiques
            similaires.
          </p>
        </div>
      </section>
    </div>
  </section>

  <!--  section 3 -->
  <div class="banner_container max-w-6xl m-auto p-16 rounded-lg my-14">
    <section class="text-white text-center">
      <p class="text-3xl font-bold p-8">
        Profitez de notre experience en marketing digital
      </p>
      <p class="text-xl px-24">
        Profitez de notre experience en marketing digital en plusieurs projects
        de nature technologique tels que Grostore Marketing Services.
      </p>
    </section>
  </div>

  <!--  section 4 -->
  <div class="max-w-3xl m-auto my-14">
    <section>
      <iframe
        class="embed-responsive-item rounded-lg"
        frameborder="0"
        allowfullscreen="1"
        title="YouTube video player"
        width="100%"
        height="400px"
        src="https://www.youtube.com/embed/Vv85kC99Fco"
      ></iframe>
    </section>
  </div>

  <!--  section 5 -->
  <div class="max-w-6xl m-auto my-14 text-center">
    <section>
      <h1 class="text-3xl font-medium text-primary">
        Développez votre entreprise
      </h1>
      <h1 class="text-3xl font-medium text-primary">
        avec une suite d'outils conçus pour vous
      </h1>
    </section>
  </div>

  <!-- section 6 -->
  <div class="max-w-6xl m-auto my-14 text-center">
    <section>
      <h1 class="text-3xl text-center font-medium text-primary">
        Nos secteurs d'activité
      </h1>
      <p class="text-3xl text-center font-light text-primary">
        Découvrez nos 4 grandes catégories de produits
      </p>

      <div class="grid grid-cols-4 gap-4 my-14">
        <div class="bg-white rounded-3xl py-8 px-4">
          <div class="items-center flex flex-col">
            <img src="./../../assets/images/Mask Group 9.png" />
            <h1 class="font-medium text-primary mt-4">Agroalimentaire</h1>
            <div class="bg-accent w-1/2 h-1 mt-1"></div>
            <p class="mt-8">
              Couvre les sous-catégories suivantes : boissons, produits
              laitiers, pates et légumineuses, ingrédients de cuisine, goûter…
            </p>
          </div>
        </div>
        <div class="bg-white rounded-3xl py-8 px-4">
          <div class="items-center flex flex-col">
            <img src="./../../assets/images/Group 26.png" />
            <h1 class="font-medium text-primary mt-4">
              Entretien et nettoyage
            </h1>
            <div class="bg-primary w-1/2 h-1 mt-1"></div>
            <p class="mt-8">
              Englobe les différents produits à savoir : les détergents, les
              outils de ménage, les désodorisant, lessive ...etc.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-3xl py-8 px-4">
          <div class="items-center flex flex-col">
            <img src="./../../assets/images/Mask Group 11.png" />
            <h1 class="font-medium text-primary mt-4">Matériaux d'emballage</h1>
            <div class="bg-accent w-1/2 h-1 mt-1"></div>
            <p class="mt-8">
              Contient les différents produits d’emballage alimentaires
              notamment les serviettes en papier, papier aluminium …
            </p>
          </div>
        </div>
        <div class="bg-white rounded-3xl py-8 px-4">
          <div class="items-center flex flex-col">
            <img src="./../../assets/images/Mask Group 12.png" />
            <h1 class="font-medium text-primary mt-4">Hygiene et beauty</h1>
            <div class="bg-primary w-1/2 h-1 mt-1"></div>
            <p class="mt-8">
              Couvre les produits corporels, pour cheveux, pour visage, hygiène
              dentaire, produits parapharmaceutiques …
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- section 7 -->
  <div class="max-w-6xl m-auto my-14">
    <h1 class="text-3xl font-medium text-primary my-14 text-center">
      Contactez-Nous?
    </h1>
    <div class="grid grid-cols-2">
      <div class="flex flex-col gap-4">
        <div class="flex flex-row gap-4">
          <div class="bg-white rounded-3xl p-8 w-1/2">
            <img src="./../../assets/icons/location.svg" />
            <h1 class="my-4 text-primary font-semibold">Adresse Postale</h1>
            <p class="text-secondery text-sm">08 Rue de Biskra – Mohammadia</p>
            <p class="text-secondery text-sm">Alger 16058, Algérie.</p>
          </div>
          <div class="bg-white rounded-3xl p-8 w-1/2">
            <img src="./../../assets/icons/phone.svg" />
            <h1 class="my-4 text-primary font-semibold">Telephone</h1>
            <p class="text-secondery">+213 770 97 21 32</p>
          </div>
        </div>
        <div class="flex flex-row gap-4">
          <div class="bg-white rounded-3xl p-8 w-1/2">
            <img src="./../../assets/icons/mail.svg" />
            <h1 class="my-4 text-primary font-semibold">Email</h1>
            <p class="text-secondery">Contact@GroDesto.com</p>
          </div>
          <div class="bg-white rounded-3xl p-8 w-1/2">
            <img src="./../../assets/icons/clock.svg" />
            <h1 class="my-4 text-primary font-semibold">Horaire de travail</h1>
            <p class="text-secondery">Dimanche - Jeudi 8:00 - 15:30</p>
          </div>
        </div>
      </div>
      <div class="ml-4 flex flex-col gap-6">
        <input
          type="text"
          placeholder="Nom"
          class="py-3 px-4 w-full rounded-lg"
        />
        <input
          type="text"
          placeholder="Telephone"
          class="py-3 px-4 w-full rounded-lg"
        />
        <input
          type="text"
          placeholder="Object"
          class="py-3 px-4 w-full rounded-lg"
        />
        <textarea
          name=""
          id=""
          class="py-3 px-4 w-full rounded-lg"
          placeholder="Message"
          rows="3"
        ></textarea>

        <div class="float-right ml-auto">
          <button
            class="flex w-auto justify-end items-center gap-4 grad-orange text-white py-2 px-14 rounded-lg mt-4"
          >
            Envoyer
            <img src="./../../assets/icons/arrow back.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- section 8 -->
  <div
    class="footer_container m-auto mt-14 border-t-info border-t-4 text-secondery"
  >
    <div class="max-w-6xl m-auto pt-16 pb-36 rounded-lg mt-14">
      <section class="grid grid-cols-3 justify-between">
        <img src="./../../assets/logo.webp" class="logo" alt="" />
        <div class="flex flex-col gap-4">
          <a href="/">Home</a>
          <a href="/">Relations Investisseurs</a>
          <a href="/">Contact</a>
        </div>
        <div class="flex flex-col">
          <h1 class="mb-4 font-semibold text-primary">Contactez-Nous</h1>
          <p>
            <span class="font-semibold">Adresse Postale: </span> 08 Rue de
            Biskra – Mohammadia
          </p>
          <p class="mb-4">Alger 16058, Algérie.</p>
          <p class="mb-4">
            <span class="font-semibold">Telephone: </span> +213 770 97 21 32
          </p>
          <p><span class="font-semibold">Email: </span> Contact@GroDesto.com</p>
        </div>
      </section>
    </div>
  </div>

  <!-- section 9  footer -->
  <div class="text-center py-4 bg-info text-primary">
    © Copyright <span class="font-semibold">2022</span>. All Rights Reserved
  </div>
</div>
