.home_container {
  background-image: url("./../../assets/images/hero image.png");
}

.about_container {
  background-image: url("./../../assets/images/map overlay.png");
}

.banner_container {
  background-image: url("./../../assets/images/Banner background.png");
  background-size: cover;
  background-position: center;
}
